*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
tmp
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
Thumbs.db
.metadata
.classpath
.settings
*.xsd
.class
.recommenders
.RemoteSystemsTempFiles/
